<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="I'm a frontend software developer who builds sites and apps that help people reach their personal and professional goals."
    />
    <link rel="stylesheet" href="{{ '/css/tailwind.css' | url | safe }}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="flex flex-col p-4 container mx-auto min-h-screen">
      {% include 'header.njk' %}
      <main class="flex-grow py-20">
        {{ content | safe }}
      </main>
      {% include 'footer.njk' %}
    </div>
  </body>
  <script>
    const btnMenuEl = document.querySelector(".btn-menu");
    const menuIconEl = document.querySelector(".menu");
    const closeIconEl = document.querySelector(".close");
    const mobileMenuEl = document.querySelector(".mobile-menu");

    btnMenuEl.addEventListener("click", () => {
      mobileMenuEl.classList.toggle("hidden");
      mobileMenuEl.classList.toggle("flex");
      menuIconEl.classList.toggle("hidden");
      closeIconEl.classList.toggle("hidden");
    });
  </script>
</html>
