<header class="flex justify-between">
  <p>Rodion Sibov</p>
  <ul class="flex gap-3">
    <li>
      <a class="" href="/">Home</a>
    </li>
    <li>
      <a class="" href="/about">About</a>
    </li>
    <li>
      <a class="" href="/projects">Projects</a>
    </li>
    <li>
      <a class="" href="/contact">Contact</a>
    </li>
  </ul>
</header>
