<section class="flex flex-col md:flex-row gap-16 justify-center items-center">
  <div class="rounded-full overflow-hidden flex-shrink-0 bg-black p-4 w-40 h-40 flex items-center justify-center">
    <img
      class=""
      src="https://v0-8-2.11ty.dev/img/logo.png"
      alt="Eleventy logo"
    />
  </div>
  <div class="prose lg:prose-xl">
    <p class="">
      Hi! I'm <span class="font-bold">Dani</span>, a mathematician turned
      software developer from Hampton, Virginia.
    </p>
    <p class="">
      As a <span class="font-bold text-orange-500">Frontend Developer</span>, I
      love building sites and apps that help people reach their personal and
      professional goals.
    </p>
    <p class="">
      I focus on speed, security and scalability, using Angular and PostgreSQL
      to create rich, dynamic experiences.
    </p>
    <p class="">
      I'm always open to new opportunities and projects. So don't hesitate to
      <a class="font-bold" href="/contact">get in touch</a>.
    </p>
  </div>
</section>
