<section class="py-20 mx-auto">
  <h2 class="text-center font-bold px-8 text-2xl mb-10">
    Technologies I love to work with
  </h2>
  <ul class="flex flex-col md:flex-row space-y-10 md:space-y-0 md:space-x-20 justify-center">
    <li class="flex flex-col items-center">
      <div>
        <img
          class="h-14"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/512px-Angular_full_color_logo.svg.png?20160527092314"
          alt="Angular logo"
        />
      </div>
      <h3 class="">Angular</h3>
    </li>
    <li class="flex flex-col items-center">
      <div class="h-14">
        <img
          class="h-14"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/512px-Tailwind_CSS_Logo.svg.png?20230715030042"
          alt="Tailwind CSS logo"
        />
      </div>
      <h3 class="">Tailwind CSS</h3>
    </li>
    <li class="flex flex-col items-center">
      <div>
        <img
          class="h-14"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png"
          alt="JavaScript logo"
        />
      </div>
      <h3 class="">JavaScript</h3>
    </li>
    <li class="flex flex-col items-center">
      <div class="h-14">
        <img
          class="h-14"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/540px-Postgresql_elephant.svg.png?20080116191800"
          alt="Postgresql logo"
        />
      </div>
      <h3 class="">PostgreSQL</h3>
    </li>
  </ul>
</section>
